body {
    margin-top: 50px;
    margin-bottom: 50px;
}

.container {
    width: auto;
    max-width: 900px;
    padding: 0 15px;
}

.container .footer-text {
    margin: 20px 0;
}

.badge {
    background-color: #e4aa48;
}

.test {
    padding-top: 20px;
}

/*.img {*/
    /*display: block;*/
    /*margin: 0 auto;*/
/*}*/

.pics {
    background-color: #ff1344;
    /*overflow-x: auto;*/
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

button.link {
    background: none;
    border: none;
    margin: 0;
    padding: 3;
    outline: none;
    outline-offset: 0;
    color: white;
}

p {
    word-break: break-all;
    white-space: normal;
}